- @sitename


!!! 5
%html{html_attrs}
  %head
    %title= @title
    // Buggy on the iPhone4
    // %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/lightbox.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/nivo-slider.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.nivo.slider.pack.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %body{:onorientationchange =>"ipadFunc();"}
  .bg2
  .bg1
  .header
    .logo
    .menu-container
      %ul.menu
        %li
          %a{:href => "#", :id => "main-1-link"} HOME
          .menu-hl
        %li
          %a{:href => "#", :id => "main-2-link"} ABOUT
          .menu-hl
        %li
          %a{:href => "#", :id => "main-3-link"} SERVICES
          .menu-hl
        %li
          %a{:href => "#", :id => "main-4-link"} SHOWCASE
          .menu-hl
        %li
          %a{:href => "#", :id => "main-5-link"} E-DECO
          .menu-hl
        %li
          %a{:href => "#", :id => "main-6-link"} CONTACT
          .menu-hl
  .content-container#page1
    .slideshow
      .slider-wrapper.theme-default
        .ribbon
        #slider.nivoSlider
          %img{:alt => "", :src => "images/slideshow/1.jpg"}
          %img{:alt => "", :src => "images/slideshow/2.jpg"}
          %img{:alt => "", :src => "images/slideshow/3.jpg"}
          %img{:alt => "", :src => "images/slideshow/4.jpg"}
          %img{:alt => "", :src => "images/slideshow/5.jpg"}

      //%img{:src => "/images/slideshow/1.png", :width => "800", :height => "533"}
    .content-bg
  .content-container#page2
    .content-bg{:style => "height: 450px"}
    .content{:style => "margin-top: 150px;"}
      %ul.submenu
        %li.yellow#page2-sub1
          %a{:href => "#"} mission
        %li.white#page2-sub2 
          %a{:href => "#"} biography
      .content-type-1#page2-sub1-page
        .content-type-1-part-2
          %img{:alt => "", :src => "images/chirigos.jpg", :width => "180", :height => "380"}
        .content-type-1-part-1
          %h1 Mission
          %h2 "True design is about life plus style; your life, your style" 
          %p True design is about life+style; your life, your style.  My inspiration comes from the uniqueness of each client's life and their style.  I believe that the design should be an extension, unabbreviated, of the lives of everyone living in the home. And because the quality of my client's life can drastically improve with their environment, it is my passion to create a home that is nourishing to their soul and beautiful to their eye.
          %p I encourage people to live their lives in the present.  I come across many people that hold back on designing their homes because they are afraid to make the wrong decision, or perhaps they are waiting for 'just the right time'. But life is right now, this moment! Our true gift is 'the present'.
          %p And no matter where you are in your life, no matter what your budget, there is a way to bring beauty and balance to your home. This is what excites me each time I step into a new client's home... the vision of their home being the nourishing and inspiring place they desire. 
          %h2{:style => "float: right;margin-right: 20px;border-bottom:  0px solid white;width: 200px;"} Bridget Chirigos
      .content-type-1#page2-sub2-page
        .content-type-1-part-2
          %img{:alt => "", :src => "images/chirigos.jpg", :width => "180", :height => "380"}
        .content-type-1-part-1
          %h1 Biography 
          %h2 "Affordable Style is not an oxymoron"
          %p Bridget's passion for home furnishings began in New York in 1990 while studying at F.I.T. and working for an up and coming fashion designer on Seventh Avenue. She was introduced by a professor to the beautiful world of home furnishings and interior design. It was an immediate fascination with how, even the smallest item in a home, can impact the way we live. She changed her major from fashion and earned a Bachelor's degree in Home Furnishings Product Development. 
          %p Since then her passion for creating beautiful spaces has grown stronger but with an appreciation of real people and real living. In 2009 Bridget started Chirigos Designs, a full-scale interior decorating business in Houston, TX. Being a wife, a mom, running her business at home and living with a cat, a dog and a fish, Bridget knows the demands of real living and brings a unique perspective about stylish functionality. She also understands the constraints of a budget and believes that everyone can have a fabulously designed home that they can afford. 

  .content-container#page3
    .content-bg{:style => "height: 650px"}
    .slideshow{:style => "height: 150px"}
      %img{:alt => "", :src => "images/slideshow/service.jpg", :width => "800", :height => "200"}
    .content{:style => "margin-top: 70px;"}
      %ul.submenu
        %li.yellow#page3-sub1
          %a{:href => "#"} consultations
        %li.white#page3-sub2 
          %a{:href => "#"} design plans
        %li.red#page3-sub3 
          %a{:href => "#"} e-Decorating 
      .content-type-1#page3-sub1-page
        .content-type-1-part-1
          %h1 Design Consultations
          %p Our clients enjoy the comfort of knowing that we provide consultations to help you decide on those small but important projects like:
          %ul.normal-list
            %li.normal-list &diams; Choosing paint colors, fabric and room color story
            %li.normal-list &diams; Furniture placement and purchasing
            %li.normal-list &diams; Shopping 
            %li.normal-list &diams; Accessorizing
            %li.normal-list &diams; Rearranging Furniture
            %li.normal-list &diams; Flooring or Lighting choices
            %li.normal-list &diams; Custom upholstery
            %li.normal-list &diams; Custom Window Treatments or Cabinetry
          %a.normal-link{:id => "toContact",:href => "#"}	 Contact me for more info...
      .content-type-1#page3-sub2-page
        .content-type-1-part-1
          %h1 Design Plans
          %p For those larger projects, we can manage from conception to completion and have partnerships with top resources and contractors in the marketplace.  As a client, you will receive full attention to detail with focus on your specific needs and style. 
          %ul.normal-list
            %li.normal-list &diams; Design Plans & Drawings
            %li.normal-list &diams; Custom Window Treatments
            %li.normal-list &diams; Custom Bedding & Pillows
            %li.normal-list &diams; Custom Furniture & Cabinetry
            %li.normal-list &diams; Kitchen & Bath Remodels
            %li.normal-list &diams; Project Management
            %li.normal-list &diams; Shopping & Installation
          %p One of the things that we take seriously is your budget. We carefully consider all options to achieve the greatest results while being sensitive to your financial guidelines.
          %a.normal-link{:id => "toContact",:href => "#"}	 Contact me for more info...
      .content-type-1#page3-sub3-page
        .content-type-1-part-1
          %h1 E-Decoration
          %p A revolutionary design service all online! e-Decorating is a perfect option that gives clients the opportunity to retain the services of Chirigos Designs, even if they live outside of Houston or prefer a more affordable way to design their space.
          %a.normal-link{:id => "toPackage",:href => "#"}	 Purchase an e-decoration package...
  .content-container#page4
    .content-bg{:style => "height: 600px"}
    .slideshow{:style => "height: 150px"}
      %img{:alt => "", :src => "images/slideshow/showcase.jpg", :width => "800", :height => "200"}
    .content{:style => "margin-top: 70px;"}
      %ul.submenu
        %li.yellow#page4-sub1
          %a{:href => "#"} gallery
        %li.white#page4-sub2
          %a{:href => "#"} before/after
      .content-type-1#page4-sub1-page
        .content-type-1-part-1
          %h1 Gallery Coming soon...
      .content-type-1#page4-sub2-page
        .content-type-1-part-1
          %h1 Photo Coming soon...
  .content-container#page5
    .content-bg{:style => "height: 1300px"}
    .slideshow{:style => "height: 150px"}
      %img{:alt => "", :src => "images/slideshow/edeco.jpg", :width => "800", :height => "200"}
    .content{:style => "margin-top: 70px;"}
      %ul.submenu
        %li.yellow#page5-sub1
          %a{:href => "#"} getting started
        %li.white#page5-sub2 
          %a{:href => "#"} packages
        %li.red#page5-sub3 
          %a{:href => "#"} silver
        %li.white#page5-sub4 
          %a{:href => "#"} gold & diamond
      .content-type-1#page5-sub1-page
        .content-type-1-part-1
          %h1 e-Decorating
          %p e-Decorating is a perfect design option that gives virtual clients the opportunity to retain the interior decorating services of Bridget Chirigos if they live outside of Houston or prefer a more affordable way to design their space. With e-Decorating you can achieve the look you want within your time, distance or budget limitations.
          %h2 What do you need to get started?
          %p As an e-Decorating client, you will provide us with the following things then we will begin designing a personalized space focusing on what you want to achieve.
          %ul.normal-list
            %li.normal-list
              1. Purchase a 
              %a.normal-link{:id => "toPackage",:href => "#"} package
            %li.normal-list
              2. Fill out an online design questionnaire
              %a.normal-link{:id => "toForm",:href => "#"} design questionnaire
            %li.normal-list 3. Take 2-4 photos and measurements of your room
            %li.normal-list 4. Gather any inspiration links or pictures. 
            %li.normal-list 
              5. Send this all to us via email 
              %a.normal-link{:href => "mailto:bridget@chirigosdesigns.com"} (bridget@chirigosdesigns.com)
          %h2 What do you receive?
          %p Depending on the scope of your project, your personalized Design Plan may include:
          %ul.normal-list
            %li.normal-list &diams; Design Board with pictures of items we have chosen for you
            %li.normal-list &diams; Furniture placement guide
            %li.normal-list &diams; Paint chip colors and fabric suggestions
            %li.normal-list &diams; Window treatment, rug, lighting, accessory and art suggestions
            %li.normal-list &diams; Ideas for items to reuse and/or revamp
            %li.normal-list &diams; List and links to all resources to complete the project.
          %h2 How long does it take to receive your personalized Design Plan?
          %p Once we received your questionnaire, photos, measurements, inspiration links and your payment, we begin the design process.  
          %ul.normal-list
            %li.normal-list 
              %b &diams; Silver Package: 
              2 business days or less 
            %li.normal-list 
              %b &diams; Gold Package: 
              1 to 2 weeks
            %li.normal-list 
              %b &diams; Diamond Package: 
              3-4 weeks
          %h2 Payment Options
          %p Have more questions or require more time? We charge an additional $30/hour for phone calls, emails and additional research.
          %p Payment is due in full when the client questionnaire, room photos and inspiration links have been submitted. We accept Paypal, check or money order. All designs are non refundable.
      .content-type-1#page5-sub2-page
        .content-type-1-part-1
          %h1 Our Packages
          %p We have a varieties of packages available to cater to your special need:
          %h2 SILVER Package
          %h2{:style => "border: 0px;"} $75
          %p We give suggestions and shop for one design element:  a window treatment, a piece of furniture, a few accessories, wall color or wallpaper, type of flooring, a color story, bedding, or lighting, etc. You receive via email:
          %ul.normal-list
            %li.normal-list &diams; Product, color and/or fabric selection to the exact specifications 
            %li.normal-list &diams; Shopping Guide that list the resource to purchase the item	
          %a.normal-link{:href => "#",:target =>"blank"}	 Purchase this package($75)
          %br
          %br
        .content-type-1-part-1
          %h2 GOLD Package
          %h2{:style => "border: 0px;"} $150-300
          %p This is "a room update".  We provide personalized room design using a lot of your existing furniture or accessories. With this plan, your room will transform into a different place and we provide you all the necessary resources and information to complete your room design perfectly. You will receive via email:
          %ul.normal-list
            %li.normal-list &diams; Suggestions on what furniture to keep, replace, revamp (and how)
            %li.normal-list &diams; Design Board with paint color, fabrics, wallpaper samples, pictures of accessories, lighting, rugs, art and window treatments	
            %li.normal-list &diams; Furniture Placement Guide to know exactly where to place your furniture
            %li.normal-list &diams; Accessory Placement Guide to know exactly where to place all your accessories
            %li.normal-list &diams; Shopping Guide that lists the resources to purchase the items
          %p 
            Master Bedrooms / Living Rooms / Den, Library or Entertainment Rooms / Kitchens
            %br
            %a.normal-link{:href => "#",:target =>"blank"}	 Purchase this package ($300)
          %p 
            Kid's Rooms / Bathrooms / Breakfast Rooms / Entry Ways / Hallways	
            %br
            %a.normal-link{:href => "#",:target =>"blank"}	 Purchase this package ($150)
        .content-type-1-part-1
          %h2 DIAMOND Package
          %h2{:style => "border: 0px;"} $750
          %p A full-scale, customized design plan where we shop for all your furniture, lighting, rugs, window treatments, art and accessories. You will receive in the mail a box complete with all the necessary items to complete the design of your room. This box will include:
          
          %ul.normal-list
            %li.normal-list &diams; Design Board with paint chips, fabric, wallpaper samples, pictures of accessories, lighting, rugs, art and window treatments.
            %li.normal-list &diams; Furniture Placement Guide to know exactly where to place your furniture
            %li.normal-list &diams; Accessory Placement Guide to know exactly where to place all your accessories
            %li.normal-list &diams; Detailed installation guide to help with correct lighting and window treatment coverings
            %li.normal-list &diams; Shopping Guide that lists the resources to purchase the items.
            %li.normal-list &diams; Access to ask additional questions via phone or email to help you in completing the design. (up to one hour)
          %a.normal-link{:href => "#",:target =>"blank"}	 Purchase this package ($750)
      .content-type-1#page5-sub3-page
        .content-type-1-part-1
          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "934", :scrolling => "no", :src => "https://media3creative.wufoo.com/embed/p7w7r7/", :style => "width:750px;border:none"}
      .content-type-1#page5-sub4-page
        .content-type-1-part-1
          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "992", :scrolling => "no", :src => "https://media3creative.wufoo.com/embed/p7w7m3/", :style => "width:750px;border:none"}

  .content-container#page6
    .content-bg{:style => "height: 1100px"}
    .slideshow{:style => "height: 150px"}
      %img{:alt => "", :src => "images/slideshow/contact.jpg", :width => "800", :height => "200"}
    .content{:style => "margin-top: 70px;"}
      %ul.submenu
        %li.yellow#page6-sub1
          %a{:href => "#"} Contact
      .content-type-1#page6-sub1-page
        .content-type-1-part-1
          %h2{:style => "border: 0px;"}
            %span{:style => "color:#FBB03B;"}Phone: 
            281.655.4600
          %h2{:style => "border: 0px;"}
            %span{:style => "color:#FBB03B;"}Email: 
            %a.normal-link{:href => "mailto:bridget@chirigosdesigns.com"} bridget@chirigosdesigns.com
          %br
          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "700", :scrolling => "no", :src => "https://media3creative.wufoo.com/embed/w7w7k5/", :style => "width:750px;border:none"}

  //.upper-footer
  //  All contents &copy; copyright 2010 - 2011  Chirigos Designs, Inc. All rights reserved     |    Terms & conditions    |    Privacy policy    |    Terms of use     
  //.footer
  //  .footer-right
  //    %form#form1{:action => "", :method => "post", :name => "form1"}
  //      Sign up for our newsletter    |      Name:
  //      %input{:name => "text", :type => "text"}
  //      Email:
  //      %input{:name => "text", :type => "text"}
  //      %input{:name => "submit", :type => "button", :value => "Submit"}
  //  .footer-left
  //    Powered by: media3creative.com
