- @sitename


!!! 5
%html{html_attrs}
  %head
    %title= @title
    // Buggy on the iPhone4
    // %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/nivo-slider.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "themes/default/default.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.nivo.slider.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}
    %script{:src => "javascripts/prototype.js", :type => "text/javascript"}
    %script{:src => "javascripts/scriptaculous.js?load=effects,builder", :type => "text/javascript"}
    %script{:src => "javascripts/lightbox.js", :type => "text/javascript"}
    %link{:href => "stylesheets/lightbox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %body{:onorientationchange =>"ipadFunc();"}
  .bg2
  .bg1
  .header
    .logo
    .menu-container
      %ul.menu
        %li
          %a{:href => "#", :id => "main-1-link"} HOME
          .menu-hl
        %li
          %a{:href => "#", :id => "main-2-link"} ABOUT
          .menu-hl
        %li
          %a{:href => "#", :id => "main-3-link"} SERVICES
          .menu-hl
        %li
          %a{:href => "#", :id => "main-4-link"} SHOWCASE
          .menu-hl
        %li
          %a{:href => "#", :id => "main-5-link"} E-DECO
          .menu-hl
        %li
          %a{:href => "#", :id => "main-6-link"} CONTACT
          .menu-hl
  .content-container#page1
    .slideshow
      .slider-wrapper.theme-default
        .ribbon
        #slider.nivoSlider
          %img{:alt => "", :src => "images/slideshow/1.jpg"}
          %img{:alt => "", :src => "images/slideshow/2.jpg"}
          %img{:alt => "", :src => "images/slideshow/3.jpg"}
          %img{:alt => "", :src => "images/slideshow/4.jpg"}
          %img{:alt => "", :src => "images/slideshow/5.jpg"}

      //%img{:src => "/images/slideshow/1.png", :width => "800", :height => "533"}
    .content-bg
  .content-container#page2
    .content-bg{:style => "height: 450px"}
    .content{:style => "margin-top: 150px;"}
      %ul.submenu
        %li.yellow#page2-sub1
          %a{:href => "#"} mission
        %li.white#page2-sub2 
          %a{:href => "#"} biography
      .content-type-1#page2-sub1-page
        .content-type-1-part-2
          %img{:alt => "", :src => "images/chirigos.jpg", :width => "180", :height => "380"}
        .content-type-1-part-1
          %h1 Mission
          %h2 "True design is about Life+Style; your life, your style" 
          %p My inspiration comes from the uniqueness of each client's life and their style.  I believe that the design should be an extension, unabbreviated, of the lives of everyone living in the home. And because the quality of my client's life can drastically improve with their environment, it is my passion to create a home that is nourishing to their soul and beautiful to their eye.
          %p I encourage people to live their lives in the present.  I come across many people that hold back on designing their homes because they are afraid to make the wrong decision, or perhaps they are waiting for 'just the right time'. But life is right now, this moment! Our true gift is 'the present'.
          %p And no matter where you are in your life, no matter what your budget, there is a way to bring beauty and balance to your home. This is what excites me each time I step into a new client's home... the vision of their home being the nourishing and inspiring place they desire. 
          %h2{:style => "float: right;margin-right: 20px;border-bottom:  0px solid white;width: 200px;"} Bridget Chirigos
      .content-type-1#page2-sub2-page
        .content-type-1-part-2
          %img{:alt => "", :src => "images/chirigos.jpg", :width => "180", :height => "380"}
        .content-type-1-part-1
          %h1 Biography 
          %h2 "Affordable Style is not an oxymoron"
          %p Bridget's passion for home furnishings began in New York in 1990 while studying at F.I.T. and working for an up and coming fashion designer on Seventh Avenue. She was introduced by a professor to the beautiful world of home furnishings and interior design. It was an immediate fascination with how, even the smallest item in a home, can impact the way we live. She changed her major from fashion and earned a Bachelor's degree in Home Furnishings Product Development. 
          %p Since then her passion for creating beautiful spaces has grown stronger but with an appreciation of real people and real living. In 2009 Bridget started Chirigos Designs, a full-scale interior decorating business in Houston, TX. Being a wife, a mom, running her business at home and living with a cat, a dog and a fish, Bridget knows the demands of real living and brings a unique perspective about stylish functionality. She also understands the constraints of a budget and believes that everyone can have a fabulously designed home that they can afford. 

  .content-container#page3
    .content-bg{:style => "height: 620px"}
    .slideshow{:style => "height: 150px"}
      %img{:alt => "", :src => "images/slideshow/service.jpg", :width => "800", :height => "200"}
    .content{:style => "margin-top: 70px;"}
      %ul.submenu{:style => "display: none;"}
        %li.yellow#page3-sub1
          %a{:href => "#"} gallery
      .content-type-1#page3-sub1-page{:style => "top: 0px;"}
        .content-one-third
          %h1.red{:style => "color:white;font-size:16px;"} Design Consultations
          %p We will consult you on smaller projects such as:
          %ul.normal-list
            %li.normal-list  Room Color Story
            %li.normal-list  Paint Colors
            %li.normal-list  Window Treatments
            %li.normal-list  Flooring & Rugs
            %li.normal-list  Accessorizing
            %li.normal-list  Furniture Placement
            %li.normal-list  Custom Upholstery, Bedding, Window Coverings
            %li.normal-list  Custom Furniture & Cabinets
            %li.normal-list  Accompanying you on a Shopping Trip
          %a.normal-link{:id => "toContact",:href => "#"}	 Contact me for more info...
        .content-one-third
          %h1.yellow{:style => "color:black;font-size:16px;"} Full Design Service
          %p We can manage your project from design conception to completion, all within your needs, style and budget
          %ul.normal-list
            %li.normal-list  Design Consultation
            %li.normal-list  Design Plans & Drawings
            %li.normal-list  Fabric, Paint, Flooring, and Surfaces Samples
            %li.normal-list  Project Management
            %li.normal-list  Custom Fabrics, Window coverings, Upholstery, Furniture & Cabinetry available
            %li.normal-list  Bathroom & Kitchen Renovations
            %li.normal-list  Installations
          %a.normal-link{:id => "toContact",:href => "#"}	 Contact me for more info...
        .content-one-third
          %h1.white{:style => "color:black;font-size:16px;"} E-Decorating
          %p A revolutionary design service that gives clients the opportunity to retain the services of Chirigos Designs, even if they live outside of Houston or prefer a more affordable way to design their space.
          %ul.normal-list
            %li.normal-list  One Design Element Consultations
            %li.normal-list  Room Updates
            %li.normal-list  Full-Service Design Plans
          %a.normal-link{:id => "toPackage",:href => "#"}	 Purchase an e-decoration package...
  .content-container#page4
    .content-bg{:style => "height: 1180px"}
    .slideshow{:style => "height: 150px"}
      %img{:alt => "", :src => "images/slideshow/showcase.jpg", :width => "800", :height => "200"}
    .content{:style => "margin-top: 70px;"}
      %ul.submenu
        %li.white#page4-sub1
          %a{:href => "#"} before & after
        %li.yellow#page4-sub2
          %a{:href => "#"} gallery
      .content-type-1#page4-sub2-page
        .content-type-1-part-1
          %a{:href => "images/gallery/1.jpg", :rel => "lightbox[gallery]", :title => ""}
            %img{:alt => "", :src => "images/gallery/1_small.jpg", :width => "80", :height => "150"}
          %a{:href => "images/gallery/2.jpg", :rel => "lightbox[gallery]", :title => ""}
            %img{:alt => "", :src => "images/gallery/2_small.jpg", :width => "80", :height => "150"}
          %a{:href => "images/gallery/3.jpg", :rel => "lightbox[gallery]", :title => ""}
            %img{:alt => "", :src => "images/gallery/3_small.jpg", :width => "80", :height => "150"}
          %a{:href => "images/gallery/4.jpg", :rel => "lightbox[gallery]", :title => ""}
            %img{:alt => "", :src => "images/gallery/4_small.jpg", :width => "80", :height => "150"}
          %a{:href => "images/gallery/5.jpg", :rel => "lightbox[gallery]", :title => ""}
            %img{:alt => "", :src => "images/gallery/5_small.jpg", :width => "80", :height => "150"}
          %a{:href => "images/gallery/6.jpg", :rel => "lightbox[gallery]", :title => ""}
            %img{:alt => "", :src => "images/gallery/6_small.jpg", :width => "80", :height => "150"}
          %a{:href => "images/gallery/7.jpg", :rel => "lightbox[gallery]", :title => ""}
            %img{:alt => "", :src => "images/gallery/7_small.jpg", :width => "80", :height => "150"}
          %a{:href => "images/gallery/8.jpg", :rel => "lightbox[gallery]", :title => ""}
            %img{:alt => "", :src => "images/gallery/8_small.jpg", :width => "80", :height => "150"}
          %a{:href => "images/gallery/9.jpg", :rel => "lightbox[gallery]", :title => ""}
            %img{:alt => "", :src => "images/gallery/9_small.jpg", :width => "80", :height => "150"}
          %a{:href => "images/gallery/10.jpg", :rel => "lightbox[gallery]", :title => ""}
            %img{:alt => "", :src => "images/gallery/10_small.jpg", :width => "80", :height => "150"}
          %a{:href => "images/gallery/11.jpg", :rel => "lightbox[gallery]", :title => ""}
            %img{:alt => "", :src => "images/gallery/11_small.jpg", :width => "80", :height => "150"}
          %a{:href => "images/gallery/12.jpg", :rel => "lightbox[gallery]", :title => ""}
            %img{:alt => "", :src => "images/gallery/12_small.jpg", :width => "80", :height => "150"}
      .content-type-1#page4-sub1-page
        .content-type-1-part-1
          %a{:href => "images/gallery/beforeAfter/1.jpg", :rel => "lightbox[beforeAfter]", :title => ""}
            %img{:alt => "", :src => "images/gallery/beforeAfter/1_small.jpg", :width => "250", :height => "127"}
          %a{:href => "images/gallery/beforeAfter/2.jpg", :rel => "lightbox[beforeAfter]", :title => ""}
            %img{:alt => "", :src => "images/gallery/beforeAfter/2_small.jpg", :width => "250", :height => "127"}
          %a{:href => "images/gallery/beforeAfter/3.jpg", :rel => "lightbox[beforeAfter]", :title => ""}
            %img{:alt => "", :src => "images/gallery/beforeAfter/3_small.jpg", :width => "250", :height => "127"}
          %a{:href => "images/gallery/beforeAfter/4.jpg", :rel => "lightbox[beforeAfter]", :title => ""}
            %img{:alt => "", :src => "images/gallery/beforeAfter/4_small.jpg", :width => "250", :height => "127"}
          %a{:href => "images/gallery/beforeAfter/5.jpg", :rel => "lightbox[beforeAfter]", :title => ""}
            %img{:alt => "", :src => "images/gallery/beforeAfter/5_small.jpg", :width => "250", :height => "127"}
          %a{:href => "images/gallery/beforeAfter/6.jpg", :rel => "lightbox[beforeAfter]", :title => ""}
            %img{:alt => "", :src => "images/gallery/beforeAfter/6_small.jpg", :width => "250", :height => "127"}
          %a{:href => "images/gallery/beforeAfter/7.jpg", :rel => "lightbox[beforeAfter]", :title => ""}
            %img{:alt => "", :src => "images/gallery/beforeAfter/7_small.jpg", :width => "250", :height => "127"}
          %a{:href => "images/gallery/beforeAfter/8.jpg", :rel => "lightbox[beforeAfter]", :title => ""}
            %img{:alt => "", :src => "images/gallery/beforeAfter/8_small.jpg", :width => "250", :height => "127"}
          %a{:href => "images/gallery/beforeAfter/9.jpg", :rel => "lightbox[beforeAfter]", :title => ""}
            %img{:alt => "", :src => "images/gallery/beforeAfter/9_small.jpg", :width => "250", :height => "127"}
          %a{:href => "images/gallery/beforeAfter/10.jpg", :rel => "lightbox[beforeAfter]", :title => ""}
            %img{:alt => "", :src => "images/gallery/beforeAfter/10_small.jpg", :width => "250", :height => "127"}
          %a{:href => "images/gallery/beforeAfter/11.jpg", :rel => "lightbox[beforeAfter]", :title => ""}
            %img{:alt => "", :src => "images/gallery/beforeAfter/11_small.jpg", :width => "250", :height => "127"}
          %a{:href => "images/gallery/beforeAfter/12.jpg", :rel => "lightbox[beforeAfter]", :title => ""}
            %img{:alt => "", :src => "images/gallery/beforeAfter/12_small.jpg", :width => "250", :height => "127"}
  .content-container#page5
    .content-bg{:style => "height: 1600px"}
    .slideshow{:style => "height: 150px"}
      %img{:alt => "", :src => "images/slideshow/edeco.jpg", :width => "800", :height => "200"}
    .content{:style => "margin-top: 70px;"}
      %ul.submenu
        %li.yellow#page5-sub1
          %a{:href => "#"} getting started
        %li.white#page5-sub2 
          %a{:href => "#"} package
        %li.brown#page5-sub3 
          %a{:href => "#"} measurement
        %li.red#page5-sub4 
          %a{:href => "#"} questionnaire
      .content-type-1#page5-sub1-page
        .content-type-1-part-1
          %h1 e-Decorating
          %p e-Decorating is a perfect design option that gives virtual clients the opportunity to retain the interior decorating services of Bridget Chirigos if they live outside of Houston or prefer a more affordable way to design their space. With e-Decorating you can achieve the look you want within your time, distance or budget limitations.
          %h2 What do you need to get started?
          %p As an e-Decorating client, you will provide us with the following things then we will begin designing a personalized space focusing on what you want to achieve.
          %ul.normal-list
            %li.normal-list
              Purchase a 
              %a.normal-link{:id => "toPackage",:href => "#"} package
            %li.normal-list Take 2-4 photos and measurements of your room
            %li.normal-list 3Gather any inspiration links or pictures.
            %li.normal-list
              Fill out an online design questionnaire
              %a.normal-link{:id => "toForm",:href => "#"} design questionnaire
            %li.normal-list We will contact you within 24 hours and jump start your project!
          %h2 What do you receive?
          %a{:href => "images/content_pic/design_board_1.jpg", :rel => "lightbox", :title => "Sample Design Board"}
            %img{:alt => "", :src => "images/content_pic/design_board_1_small.jpg", :width => "256", :height => "250"}
          %a{:href => "images/content_pic/design_board_2.jpg", :rel => "lightbox", :title => "Sample Design Board"}
            %img{:alt => "", :src => "images/content_pic/design_board_2_small.jpg", :width => "256", :height => "250"}
          %p Depending on the scope of your project, your personalized Design Plan may include:
          %ul.normal-list
            %li.normal-list  Design Board with pictures of items we have chosen for you
            %li.normal-list  Furniture placement guide
            %li.normal-list  Paint chip colors and fabric suggestions
            %li.normal-list  Window treatment, rug, lighting, accessory and art suggestions
            %li.normal-list  Ideas for items to reuse and/or revamp
            %li.normal-list  List and links to all resources to complete the project.
          %h2 How long does it take to receive your personalized Design Plan?
          %p Once we received your questionnaire, photos, measurements, inspiration links and your payment, we begin the design process.  
          %ul.normal-list
            %li.normal-list 
              %b  Silver Package: 
              2 business days or less 
            %li.normal-list 
              %b  Gold Package: 
              1 to 2 weeks
            %li.normal-list 
              %b  Diamond Package: 
              3-4 weeks
          %h2 Payment Options
          %p Payment is to be made before any design begins. We accept Paypal payments on our website. To send money orders, email us at bridget@chirigosdesigns.com and we will provide you with a physical address. Sorry, we do not accept checks.
          %p All designs are non-refundable.
          %p Feel free to email us any questions you may have about your design. For more “hands-on” support, we offer a discounted design rate at $30/hour. We will be happy to communicate with you via email or phone, depending on your needs.
          .next-btn#to-package 
            Next step: Choose a package >>
      .content-type-1#page5-sub2-page
        .content-type-1-part-1
          %h1 Our Packages
          %p We have a varieties of packages available to cater to your special need:
          %h2 SILVER Package
          %h2{:style => "border: 0px;"} $75
          %p We give suggestions and shop for one design element:  a window treatment, a piece of furniture, a few accessories, wall color or wallpaper, type of flooring, a color story, bedding, or lighting, etc. You receive via email:
          %ul.normal-list
            %li.normal-list  Product, color and/or fabric selection to the exact specifications 
            %li.normal-list  Shopping Guide that list the resource to purchase the item	
          %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
            %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
            %input{:name => "hosted_button_id", :type => "hidden", :value => "QUF2U2KFCV7ZE"}
            %input{:alt => "Purchase this package($75)", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", :type => "image"}
          %br
        .content-type-1-part-1
          %h2 GOLD Package
          %h2{:style => "border: 0px;"} $150-300
          %p This is "a room update".  We provide personalized room design using a lot of your existing furniture or accessories. With this plan, your room will transform into a different place and we provide you all the necessary resources and information to complete your room design perfectly. You will receive via email:
          %ul.normal-list
            %li.normal-list  Suggestions on what furniture to keep, replace, revamp (and how)
            %li.normal-list  Design Board with paint color, fabrics, wallpaper samples, pictures of accessories, lighting, rugs, art and window treatments	
            %li.normal-list  Furniture Placement Guide to know exactly where to place your furniture
            %li.normal-list  Accessory Placement Guide to know exactly where to place all your accessories
            %li.normal-list  Shopping Guide that lists the resources to purchase the items
          %p 
            %b Master Bedrooms / Living Rooms / Den, Library or Entertainment Rooms / Kitchens
            %b Purchase this package ($300):
          %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
            %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
            %input{:name => "hosted_button_id", :type => "hidden", :value => "57A7WAZZADH9U"}
            %input{:alt => "Purchase this package($300)", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", :type => "image"}
          %p 
            %b Kid's Rooms / Bathrooms / Breakfast Rooms / Entry Ways / Hallways	
            %b Purchase this package ($150):
          %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
            %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
            %input{:name => "hosted_button_id", :type => "hidden", :value => "6GJNVWB9ZL5WQ"}
            %input{:alt => "Purchase this package($150)", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", :type => "image"}

              
        .content-type-1-part-1
          %h2 DIAMOND Package
          %h2{:style => "border: 0px;"} $750
          %p A full-scale, customized design plan where we shop for all your furniture, lighting, rugs, window treatments, art and accessories. You will receive in the mail a box complete with all the necessary items to complete the design of your room. This box will include:
          
          %ul.normal-list
            %li.normal-list  Design Board with paint chips, fabric, wallpaper samples, pictures of accessories, lighting, rugs, art and window treatments.
            %li.normal-list  Furniture Placement Guide to know exactly where to place your furniture
            %li.normal-list  Accessory Placement Guide to know exactly where to place all your accessories
            %li.normal-list  Detailed installation guide to help with correct lighting and window treatment coverings
            %li.normal-list  Shopping Guide that lists the resources to purchase the items.
            %li.normal-list  Access to ask additional questions via phone or email to help you in completing the design. (up to one hour)
          %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
            %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
            %input{:name => "hosted_button_id", :type => "hidden", :value => "5XF9E8VDELNRJ"}
            %input{:alt => "Purchase this package($750)", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", :type => "image"}
          %br
          %br
          .next-btn#to-measure 
            Next step: Take the measurements >>
      .content-type-1#page5-sub3-page
        .content-type-1-part-1
          %h1 How to take Measurements & Photos
          %h2 For Silver Package - one design element
          %a{:href => "images/content_pic/window_measurement.jpg", :rel => "lightbox", :title => "Sample Window Measurement"}
            %img{:alt => "", :src => "images/content_pic/window_measurement.jpg", :width => "252", :height => "100"}
          %ul.normal-list
            %li.normal-list Take a picture of your design element.	
            %li.normal-list Write out measurements of the width, height and length
            %li.normal-list Take 2-3 more pictures of your room showing your style, color and other elements.
          %h2 For Gold & Diamond Packages
          %a{:href => "images/content_pic/room_measurement.jpg", :rel => "lightbox", :title => "Sample Room Measurement"}
            %img{:alt => "", :src => "images/content_pic/room_measurement.jpg", :width => "136", :height => "150"}
          %a{:href => "images/content_pic/wall_measurement.jpg", :rel => "lightbox", :title => "Sample Wall Measurement"}
            %img{:alt => "", :src => "images/content_pic/wall_measurement.jpg", :width => "239", :height => "150"}
          %ul.normal-list
            %li.normal-list Draw a floor plan of your room from a bird's eye view showing the measurements of each wall in feet and inches and mark them North, South, East and West.
            %li.normal-list Draw each wall showing measurements from side to side and top to bottom. Draw doorway openings to other rooms, windows, light switches, vents, sconces or any other element that is significant. 
            %li.normal-list Take photos of all your walls in the room from side to side and floor to ceiling.
            %li.normal-list 
              Take photos of all the furniture that 
              %b will be staying 
              in the room and a picture of the entire room (or as much of it as you can) from the entry point.
            %li.normal-list Upload photos into the Design Questionnaire. (see tips on saving and uploading photos)
          %h2 Tips on taking photos and uploading
          %ul.normal-list
            %li.normal-list Take photos of all the walls in the room showing side to side and floor to ceiling.  
            %li.normal-list If you cannot get this all in one shot, take more than one picture of the wall.
            %li.normal-list Photo requirements to upload into Design Questionnaire are as follows
          .next-btn#to-question 
            Next step: Fill the Questionnaire >>
      .content-type-1#page5-sub4-page
        .content-type-1-part-1
          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "992", :scrolling => "no", :src => "https://media3creative.wufoo.com/embed/p7w7m3/", :style => "width:750px;border:none"}

  .content-container#page6
    .content-bg{:style => "height: 1100px"}
    .slideshow{:style => "height: 150px"}
      %img{:alt => "", :src => "images/slideshow/contact.jpg", :width => "800", :height => "200"}
    .content{:style => "margin-top: 70px;"}
      %ul.submenu
        %li.yellow#page6-sub1
          %a{:href => "#"} Contact
      .content-type-1#page6-sub1-page
        .content-type-1-part-1
          %h2{:style => "border: 0px;"}
            %span{:style => "color:black;"}Phone: 
            281.655.4600
          %h2{:style => "border: 0px;"}
            %span{:style => "color:black;"}Email: 
            %a.normal-link{:href => "mailto:bridget@chirigosdesigns.com"} bridget@chirigosdesigns.com
          %br
          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "700", :scrolling => "no", :src => "https://media3creative.wufoo.com/embed/w7w7k5/", :style => "width:750px;border:none"}

  //.upper-footer
  //  All contents &copy; copyright 2010 - 2011  Chirigos Designs, Inc. All rights reserved     |    Terms & conditions    |    Privacy policy    |    Terms of use     
  //.footer
  //  .footer-right
  //    %form#form1{:action => "", :method => "post", :name => "form1"}
  //      Sign up for our newsletter    |      Name:
  //      %input{:name => "text", :type => "text"}
  //      Email:
  //      %input{:name => "text", :type => "text"}
  //      %input{:name => "submit", :type => "button", :value => "Submit"}
  //  .footer-left
  //    Powered by: media3creative.com
