@font-face {
  font-family: Helvetica_ultralight;
  src: url(/fonts/helvetica_ultralight.ttf) format("truetype");
}

@font-face {
  font-family: Helvetica_light;
  src: url(/fonts/helvetica_light.ttf) format("truetype");
}

.bg1 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(/images/bg/7.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(/images/bg/7.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white-box {
  margin-top: 0px;
  margin-left: 0px;
  width: 230px;
  height: 0px;
  background-color: #a5a49a;
  text-align: center;
}

.logo {
  background-image: url(/images/logo.png);
  position: relative;
  margin: auto;
  margin-top: 0px;
  height: 85px;
  width: 179px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: black;
  font-family: Helvetica_light;
}

ul.menu {
  margin-top: 0px;
  padding-left: 0px;
  list-style-type: none;
}

li {
  display: inline-block;
}

ul.menu a {
  color: white;
  text-shadow: 0px 5px 3px black;
  display: block;
  width: 120px;
  height: 25px;
  font-family: Helvetica_light;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-decoration: none;
  margin-top: 23px;
}

ul.menu a:hover {
  color: #146a8f;
}

.header {
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 116px;
  width: 100%;
  background-image: url(/images/header_bg.png);
}

.upper-footer {
  padding-top: 10px;
  padding-right: 20px;
  position: fixed;
  bottom: 52px;
  right: 0px;
  height: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Verdana";
  font-size: 11px;
  text-align: right;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 52px;
  width: 100%;
  background-image: url(/images/footer_bg.png);
}

.footer-left {
  position: relative;
  float: left;
  height: 52px;
  color: white;
  font-family: "Verdana";
  font-size: 11px;
  margin-left: 20px;
  margin-top: 20px;
}

.footer-right {
  display: inline;
  position: relative;
  float: right;
  height: 52px;
  color: white;
  font-family: "Verdana";
  font-size: 11px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.slideshow {
  height: 533px;
  width: 800px;
  position: relative;
  margin: auto;
  margin-top: 175px;
}

.content-container {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: -1400px;
  height: 100%;
  width: 1000px;
}

.content {
  z-index: 100;
  position: relative;
  margin-top: 20px;
  width: 960px;
  height: 400px;
}

.content-bg {
  z-index: -1;
  position: absolute;
  top: 150px;
  left: 75px;
  width: 850px;
  height: 580px;
  background-image: url(/images/white_trans.png);
}

#page-2-content {
  z-index: 100;
  position: absolute;
  bottom: 50px;
  width: 960px;
  height: 400px;
}

#page-3-content {
  z-index: 100;
  position: absolute;
  bottom: 50px;
  width: 960px;
  height: 400px;
}

#page-4-content {
  margin-top: 45%;
  margin-left: 50%;
  width: 300px;
}

#page-5-content {
  margin-top: 15%;
  margin-left: 70%;
  width: 300px;
}

#page-6-content {
  margin-top: 15%;
  margin-left: 0%;
  width: 500px;
}

.menu-hl {
  margin-left: 0px;
  margin-top: -200px;
  z-index: -1;
  position: fixed;
  height: 140px;
  width: 120px;
  background: rgba(0, 0, 0, 0);
}

.menu-container {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-top: -8px;
  margin-left: auto;
  margin-right: auto;
  height: 65px;
  width: 1000px;
}

ul.submenu {
  position: relative;
  float: left;
  list-style-type: none;
  letter-spacing: 0.2em;
  text-align: left;
  font-size: 11px;
  font-family: "Verdana";
  margin-left: 65px;
  display: block;
  height: 27px;
  width: 800px;
  list-style-type: none;
  color: white;
}

ul.submenu li {
  display: inline block;
  overflow: hidden;
  padding-top: 7px;
  margin-left: -10px;
  padding-right: 10px;
  width: 150px;
  height: 20px;
  text-align: right;
}

ul.submenu li a {
  display: inline block;
  width: 155px;
}

.content-type-1 {
  width: 850px;
  height: 400px;
  margin-left: 95px;
  position: absolute;
  top: 50px;
}

img {
  border: 5px solid white;
}

.content-type-1-part-1 {
  float: left;
  width: 575px;
  margin-left: 25px;
}

.content-one-third {
  float: left;
  width: 240px;
  margin-left: 25px;
}

.content-type-1-part-2 {
  float: left;
  width: 200px;
  height: 400px;
}

.normal-list {
  display: block;
  list-style-type: disc;
  color: black;
  font-size: 13px;
  font-family: Helvetica_light;
  margin-left: -10px;
}

.note {
  font-size: 13px;
  margin-left: 20px;
}

.red {
  background-color: #af2f2c;
}

.brown {
  background-color: #492114;
}

.white {
  background-color: #e7e2d4;
  color: black;
}

.yellow {
  background-color: #e1af57;
  color: black;
}

.normal-link {
  color: #636363;
  font-size: 11px;
  text-decoration: underline;
}

.normal-link:hover {
  color: black;
}

.next-btn {
  background-color: #e1af57;
  text-align: right;
  padding: 12px;
  font-size: 14px;
}

.next-btn:hover {
  background-color: white;
}

p {
  font-family: Helvetica_light;
  font-size: 13px;
  color: black;
}

h1 {
  color: #736357;
  font-family: Helvetica_ultralight;
  font-size: 22px;
}

h2 {
  font-size: 14px;
  font-family: Helvetica_light;
  font-style: oblique;
  color: #636363;
  width: 100%;
  border-bottom: 1px solid #636363;
}
