.bg1 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(/images/bg1.jpg) no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(/images/bg1.jpg) no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white-box {
  margin-top: 0px;
  margin-left: 0px;
  width: 230px;
  height: 0px;
  background-color: #a5a49a;
  text-align: center;
}

.logo {
  background-image: url(/images/logo.png);
  position: relative;
  float: left;
  margin-left: 50px;
  margin-top: 0px;
  height: 50px;
  width: 147px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: black;
  overflow: hidden;
}

ul.menu {
  margin-top: 0px;
  padding-left: 0px;
  list-style-type: none;
}

li {
  display: inline-block;
}

ul.menu a {
  color: white;
  text-shadow: 0px 5px 3px black;
  display: block;
  width: 100px;
  height: 25px;
  font-family: "Helvetica";
  font-size: 12px;
  letter-spacing: 0.3em;
  text-decoration: none;
  margin-top: 25px;
}

ul.menu a:hover {
  color: #146a8f;
}

.header {
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 116px;
  width: 100%;
  background-image: url(/images/header_bg.png);
}

.upper-footer {
  padding-top: 10px;
  padding-right: 20px;
  position: fixed;
  bottom: 52px;
  right: 0px;
  height: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Verdana";
  font-size: 11px;
  text-align: right;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 52px;
  width: 100%;
  background-image: url(/images/footer_bg.png);
}

.footer-left {
  position: relative;
  float: left;
  height: 52px;
  color: white;
  font-family: "Verdana";
  font-size: 11px;
  margin-left: 20px;
  margin-top: 20px;
}

.footer-right {
  display: inline;
  position: relative;
  float: right;
  height: 52px;
  color: white;
  font-family: "Verdana";
  font-size: 11px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.content-container {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: -1400px;
  height: 100%;
  width: 1000px;
}

#page-1-content {
  z-index: 100;
  position: absolute;
  bottom: 100px;
  width: 960px;
  height: 400px;
}

#page-1-content-bg {
  z-index: -1;
  position: absolute;
  bottom: 100px;
  width: 960px;
  height: 500px;
  background-image: url(/images/text_bg.png);
}

#page-2-content {
  z-index: 100;
  position: absolute;
  bottom: 50px;
  width: 960px;
  height: 400px;
}

#page-2-content-bg {
  z-index: -1;
  position: absolute;
  bottom: 50px;
  width: 960px;
  height: 500px;
  background-image: url(/images/text_bg.png);
}

#page-3-content {
  z-index: 100;
  position: absolute;
  bottom: 50px;
  width: 960px;
  height: 400px;
}

#page-3-content-bg {
  z-index: -1;
  position: absolute;
  bottom: 50px;
  width: 960px;
  height: 500px;
  background-image: url(/images/text_bg.png);
}

#page-4-content {
  margin-top: 45%;
  margin-left: 50%;
  width: 300px;
}

#page-5-content {
  margin-top: 15%;
  margin-left: 70%;
  width: 300px;
}

#page-6-content {
  margin-top: 15%;
  margin-left: 0%;
  width: 500px;
}

.menu-hl {
  margin-left: 0px;
  margin-top: -200px;
  z-index: -1;
  position: fixed;
  height: 140px;
  width: 100px;
  background: rgba(0, 0, 0, 0);
}

.menu-container {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  height: 65px;
  width: 1000px;
}

ul.submenu {
  position: relative;
  float: left;
  list-style-type: none;
  letter-spacing: 0.2em;
  text-align: left;
  font-size: 11px;
  font-family: "Verdana";
  margin-left: -50px;
  display: block;
  height: 27px;
  width: 950px;
  list-style-type: none;
  color: white;
}

ul.submenu li {
  display: inline block;
  overflow: hidden;
  padding-top: 7px;
  margin-left: -10px;
  padding-right: 10px;
  width: 150px;
  height: 20px;
  text-align: right;
}

ul.submenu li a {
  display: inline block;
  width: 155px;
}

.content-type-1 {
  font-family: "Verdana";
  width: 1000px;
  height: 400px;
  margin-left: 50px;
}

.content-type-1-part-1 {
  float: left;
  width: 600px;
  border-right: 1px solid white;
}

.content-type-1-part-2 {
  float: left;
  width: 398px;
  height: 400px;
}

.note {
  font-size: 13px;
  margin-left: 20px;
}

.red {
  background-color: #af2f2c;
}

.brown {
  background-color: #492114;
}

.white {
  background-color: #e7e2d4;
  color: black;
}

.yellow {
  background-color: #e1af57;
  color: black;
}

p {
  font-size: 11px;
  color: white;
}

h1 {
  color: #e4dfcf;
  font-family: "Verdana";
  font-size: 24px;
}

h2 {
  font-size: 11px;
  font-style: oblique;
  color: white;
}
